{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center; margin-top: 5%; margin-bottom: 5%;">Please login to start</h1>
<div class="container" style="display: flex; justify-content: center;">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Login" />
  <input type="button" value="Registration" onClick='location.href="{% url 'todo:register' %}"'>
  <input type="hidden" name="next" value="{% url 'todo:all' %}" />
  </form>
  {% endblock %}
</div>
</body>
</html>